#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_clean:
	dh_clean
	find  -depth -name .stack-work -exec rm -r {} +
	rm -rf build

override_dh_auto_build:
	stack build

override_dh_install:
	mkdir -p build
	stack install --local-bin-path build
	mv build/unison build/ucm
	dh_install
